.contenedor{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgba(255,0,0,0) 80%, rgba(0,0,0,1) 100%);

    & .datos{
        height: 50%;    
        display: table;
    }
}

.contenedorMedio{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,1) 0%, rgba(255,0,0,0) 25%, rgba(255,255,255,0) 90%, rgba(0,0,0,1) 100%);

    & .datos{
        height: 100%;     
        display: table;
    }

    & .fotosCell1 {
        display: table-cell !important;
        vertical-align: top !important;
    }

    & .fotosCell2 {
        display: table-cell !important;
        vertical-align: bottom !important;
    }
}



.divNegro{
    width: 100%;
    height: 100%;
}

.footer{
    display: flex;
    flex-direction: row-reverse;
    width: 100%; 
    height: 100px;
}


.siguienteCerdo{
    position: relative;
    bottom: 50px;
    width: 100px; 
    height: 100px; 
    & img{
       width: 100%; 
       height: 100%; 
    }
}

i{
    color: #03a9f4;
    width: 200px;
    height: 200px;
}