@font-face {

    font-family: 'Aladdin';
    src: url(fuentes/aladdin.ttf);
}


body{
    font-family: 'Aladdin', sans-serif;
    background-color: black;
}

@keyframes fadein {
    0% {
        opacity:0;
    }
    30%{
        opacity:0;
    }
    65%{
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
}


/*BLOQUE 1*/

#div1{
    background-image: url('imagenes/plazaMayor_1.jpeg');
    background-repeat: no-repeat; 
    background-size: cover;
    /* animation: fadein 10s;  */
} 




h1{
    color: black;
    text-align: center;
    padding-top: 100px;
    font-size: 150px;
}

p.intro{
    font-size: 50px;
    margin-top: 20%;
}

/*FIN BLOQUE 1*/



/* BLOQUE 2 */
#div2{
    background-image: url('imagenes/foto1_negro.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position-x: center;
} 


/* FIN BLOQUE 2 */

/* BLOQUE 3 */
#div3{
    background-image: url('imagenes/foto2_negro.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position-x: center;
} 


/* FIN BLOQUE 3 */

/* BLOQUE 4 */
#div4{
    background-image: url('imagenes/foto3_negro.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position-x: center;
} 


/* FIN BLOQUE 4 */

/* BLOQUE 5 */
#div5{
    background-image: url('imagenes/foto4_negro.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position-x: center;
} 


/* FIN BLOQUE 5 */

/* BLOQUE 6 */
#div6{
    background-image: url('imagenes/foto5_negro.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position-x: center;
} 


/* FIN BLOQUE 6 */

/* BLOQUE 7 */
#div7{
    background-image: url('imagenes/foto6_negro.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position-x: center;
} 


/* FIN BLOQUE 7 */

/* #div2Datos{
    background-image: linear-gradient(rgba(0,0,0,1) -5%, rgba(255,0,0,0) 10%, rgba(255,255,255,0) 90%, rgba(0,0,0,1) 101%);
} */





#ultDivDatos{
    background-image: linear-gradient(0deg, rgba(255,0,0,0) 80%, rgba(0,0,0,1) 100%);
}