@font-face {

    font-family: 'Aladdin';
    
    src: url(fuentes/aladdin.ttf);
    
}


body{

    font-family: 'Aladdin', sans-serif;
}

.demo-bg {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

 #parte_1{
    /*opacity: 0.5;
    background-image: url('imagenes/plazaMayor.jpeg');
    background-repeat: no-repeat; 
    background-size: cover;*/
    inline-size: 0%;
} 

#parte_1_datos{
    opacity: 1;
}

h1{
    color: black;
    text-align: center;
    padding-top: 200px;
    font-size: 200px;
}

a{
    margin-left: center;
    text-decoration: none;
    margin-left: 50%;
    transform: translateX(-50%);
}